# PostgreSQL Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_2mNQwsq4akTP@ep-weathered-unit-amooyzz7.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True

# Google OAuth (Optional)
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://127.0.0.1:5000/auth/google/callback

# Email Configuration (Optional)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=gigbridgee@gmail.com
EMAIL_PASSWORD=tvtplklbvcnrwmzt
GIGBRIDGE_SENDER_EMAIL=gigbridgee@gmail.com
GIGBRIDGE_APP_PASSWORD=tvtplklbvcnrwmzt

# Security
SECRET_KEY=your_secret_key_here_change_this_in_production
